version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: demo-mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodb-data:/data/db
    networks:
      - demo-network

  spring-app:
    build: .
    container_name: demo-spring-app
    ports:
      - "8081:8081"
    depends_on:
      - mongodb
    environment:
      - SPRING_DATA_MONGODB_URI=mongodb://mongodb:27017/simplecrud
    networks:
      - demo-network

networks:
  demo-network:
    driver: bridge

volumes:
  mongodb-data:
